.sidenav {
    height: 100%;
    width: 100%;
    background-color: #E6E6E6;
}

.sidenav a {
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    color: var(--main-color);
    display: block;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: var(--main-color);
}

.sidenav a:hover {
    background-color: var(--main-color);
    color: white;
}