:root {
    --cor-azulEscuro: grey;
    --cor-azul: black;
    --cor-rosa: #c0507d;
    --cor-azulClaro: #54a3b6;
    --cor-lilas: #a382e0;
}

body {
    background-color: white;
    color: black;
    margin: 0;
}